name: ubuntu-24.04

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  BUILD_TYPE: Debug
  LOCAL: local

jobs:
  build:
    runs-on: ubuntu-24.04
    container: "iowarp/iowarp-user:latest"
    steps:
      - name: Get Sources
        uses: actions/checkout@v4
      - name: Build
        run: |
          . /module_load.sh
          pushd .
          cd /root/spack
          . ./share/spack/setup-env.sh
          which spack
          spack repo add /iowarp-install/iowarp-spack
          spack load iowarp@main
          CTE=`spack find --paths iowarp-cte | awk 'NR == 2' | cut -d ' ' -f 3`
          popd
          jarvis init p q
          jarvis bootstrap from local
          jarvis rg build
          jarvis repo add ${CTE}/jarvis/jarvis_hermes
          jarvis ppl index copy jarvis_hermes.hermes.test_hermes
          jarvis ppl load yaml test_hermes.yaml
          jarvis ppl run
          jarvis env build hermes
          jarvis env show hermes
          jarvis ppl list
          mkdir build
          cd build
          cmake ..
          ctest -D Experimental -C Release
        shell: bash
