name: ubuntu latest

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  BUILD_TYPE: Debug
  LOCAL: local

jobs:
  build:
    runs-on: ubuntu-latest
    container: "iowarp/iowarp-deps:latest"
    steps:
      - name: Get Sources
        uses: actions/checkout@v4
      - name: Build
        run: |
          . /root/spack/share/spack/setup-env.sh
          spack load iowarp
          spack find
          mkdir build
          cd build
          cmake ..
          ctest -D Experimental -C Release
        shell: bash
