name: ubuntu latest

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  BUILD_TYPE: Debug
  LOCAL: local

jobs:
  build:
    runs-on: ubuntu-latest
    container: "iowarp/iowarp-user:latest"
    steps:
      - name: Get Sources
        uses: actions/checkout@v4
      - name: Build
        run: |
          . /etc/profile
          pushd .
          cd /root/spack
          . ./share/spack/setup-env.sh
          which spack
          spack compiler find
          spack list --namespace
          spack find
          spack load iowarp@main
          popd
          mkdir build
          cd build
          cmake ..
          ctest -D Experimental -C Release
        shell: bash
